main {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.carousel {
  position: relative;
  overflow: hidden;
}

.carousel-inner {
  width: 100%;
  height: 100%;
  display: flex;
}

.carousel-item {
  flex: 0 0 100%;
  transition: transform 0.5s ease;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-prev,
.carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.3s ease;
  transform-origin: top left;
  font-size: 30px;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}

.carousel-prev:hover {
  transform: scale(1);
  border-radius: 10rem;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.363);
}
.carousel-next:hover {
  transform: scale(1);
  border-radius: 10rem;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.363);
}

.carousel-prev {
  left: 10px;
}

.carousel-next {
  right: 10px;
}

.icons {
  width: 5rem;
}

.services {
  margin: 0rem auto 0 auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 2.2rem;
  color: black;
}

.service {
  width: 28rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-radius: 5rem;
  gap: 1rem;
}
.service:hover {
  background-color: #a9a9a9;
}

.news-container {
  width: 100%;
  min-height: 40rem;
  background-color: #d8f4f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-box-shadow: 1px 9px 13px -7px rgba(0, 0, 0, 0.56);
  -moz-box-shadow: 1px 9px 13px -7px rgba(0, 0, 0, 0.56);
  box-shadow: 1px 9px 13px -7px rgba(0, 0, 0, 0.56);
}
.news {
  width: 80%;
  min-height: 25rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  gap: 3rem;
}
.new {
  width: 17rem;
  height: 26rem;
  display: flex;
  flex-direction: column;
  border: #585858 0.1rem solid;
  cursor: pointer;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  gap: 0.6rem;
  -webkit-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.56);
  -moz-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.56);
  box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.56);
}
.new:hover {
  transform: scale(120%);
  transition-property: transform;
}
.new img {
  border-bottom: #585858 0.1rem solid;
}
.new h1 {
  font-size: 2.5rem;
  font-weight: bold;
}
.new p {
  font-size: 1.2rem;
}
.news-text {
  font-family: "Poppins", sans-serif;
  width: 100%;
  padding-inline: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.more-news {
  width: 90%;
  text-align: end;
  margin-top: 3rem;
}
.more-news h2 {
  font-family: "Poppins", sans-serif;
  color: #0075ff;
  font-size: 1.8rem;
  text-decoration: underline;
}

.beneficios {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}
.beneficios h1 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 4rem;
  text-align: center;
}
.beneficiarios-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  gap: 4rem;
  margin: 0 auto;
}
.beneficiarios-home {
  width: 21%;
  max-height: 13rem;
}
.beneficiarios-home img {
  width: 100%;
  height: 100%;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 40vh auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  overflow-y: hidden;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: "Poppins", sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #0b2c50;
}
.popup .content {
  max-height: 30%;
  overflow-y: hidden;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}
.popup button {
  font-family: "Poppins", sans-serif;
  width: 15rem;
  border: none;
  border-radius: 10rem;
  height: 4rem;
  background-color: none;
  font-size: 1.5rem;
}
.popup button:hover {
  background-color: #d8f4f4;
  cursor: pointer;
}
@media screen and (max-width: 700px) {
  .popup {
    width: 70%;
  }
  .services {
    font-size: 1.2rem;
  }
  .icons {
    width: 3rem;
  }
}
@media screen and (max-width: 325px) {
  .popup {
    font-size: 1.5rem;
  }
  .popup button {
    font-family: "Poppins", sans-serif;
    width: 10rem;
    font-size: 1.3rem;
  }
  .icons {
    width: 2rem;
  }
}
